

.produto-card{
    width: 100%;
    max-width: 300px;
    background-color:rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0 auto;
    padding: 20px;
}

.card__image {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    object-position: center;
}

.card__infos {
    padding: 20px;
    border-top: 1px solid #ddd;
}

.card__price {
    font-size: 25px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
     

}

.card__bottom {
    border-bottom: 1px solid #ddd;
}

.card__title{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    font-weight: 500;
}

.produto-imagem {
    width: 200px; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
  }
